/* ==========================================================================
   Custom Properties
   ========================================================================== */

:root {
	--color-black: #000;
	--color-white: #fff;
	--color-red: #c00;
	--color-text: #141212;
	--color-blue: #75cdff;
	--color-gradient-start: #f4fab5;
	--color-bg: #fbfbfb;
}

/* ==========================================================================
   Font Faces
   ========================================================================== */

@font-face {
	font-display: swap;
	font-family: 'Graphik';
	src:
		local('Graphik Regular'),
		local('Graphik-Regular'),
		url('/fonts/Graphik-Regular.woff2') format('woff2'),
		url('/fonts/Graphik-Regular.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-display: swap;
	font-family: 'Graphik';
	src:
		local('Graphik Medium'),
		local('Graphik-Medium'),
		url('/fonts/Graphik-Medium.otf') format('opentype');
	font-style: normal;
	font-weight: 500;
}

/* ==========================================================================
   Reset
   ========================================================================== */

html,
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	height: 100%;
	margin: 0;
	min-height: 100%;
	padding: 0;
	position: relative;
	width: 100%;
	font-family: 'Graphik';
	font-style: normal;
	font-weight: normal;
	color: var(--color-text);
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

button {
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;
	-webkit-font-smoothing: inherit;
	background: transparent;
	border: none;
	color: inherit;
	cursor: pointer;
	font: inherit;
	line-height: normal;
	margin: 0;
	outline: 0;
	overflow: visible;
	padding: 0;
	text-align: center;
	text-decoration: none;
	user-select: none;
	white-space: normal;
	width: auto;

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

figure {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img,
video {
	width: 100%;
	display: block;
	height: auto;
}

/* ==========================================================================
   Base Styles
   ========================================================================== */

html {
	background: var(--color-white);
	color: var(--color-black);
	scroll-behavior: smooth;
}

/* ==========================================================================
   Utility Classes
   ========================================================================== */

.show-above-small {
	@media (max-width: 768px) {
		display: none !important;
	}
}

.show-below-small {
	@media (min-width: 768px) {
		display: none !important;
	}
}
